<div class="banner">
    <h1>Unleash your potentital, start your fitness journey</h1>
    <p><strong>PT Payne</strong> helps people to become fitter, healthier, and happier</p>
    <a href="#" class="button-blue">Sign Up</a>
  </div>

  <!-- Cards section -->

  <div class="container">
    <h2>Discover packages</h2>
    <div class="cards">
      <div class="card-white">
        <img  src="https://media.istockphoto.com/id/1155930890/photo/fitness-class.jpg?s=612x612&w=0&k=20&c=0Jj-MORLtzGfjMVszuyRPCjJCz79PTFBZvm0_VockII="
              alt="Programming"
              width="200px"
              height="150px"
              >
        <h3>Programming your workouts</h3>
      </div>

      <div class="card-white">
        <img  src="https://plus.unsplash.com/premium_photo-1675798983878-604c09f6d154?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bnV0cml0aW9ufGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60"
              alt="Nutrition"
              width="200px"
              height="150px"
              >
        <h3>Creating individual nutrition plans</h3>
      </div>

      <div class="card-white">
        <img  src="https://images.unsplash.com/photo-1519311965067-36d3e5f33d39?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cHQlMjBmaXRuZXNzfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60"
              alt="oneonone"
              width="200px"
              height="150px"
              >
        <h3>One on one Personal training seshions</h3>
      </div>
      <div class="card-white">
        <img  src="https://media.istockphoto.com/id/1155930890/photo/fitness-class.jpg?s=612x612&w=0&k=20&c=0Jj-MORLtzGfjMVszuyRPCjJCz79PTFBZvm0_VockII="
              alt="Programming"
              width="200px"
              height="150px"
              >
        <h3>Programming your workouts</h3>
      </div>

      <div class="card-white">
        <img  src="https://plus.unsplash.com/premium_photo-1675798983878-604c09f6d154?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bnV0cml0aW9ufGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60"
              alt="Nutrition"
              width="200px"
              height="150px"
              >
        <h3>Creating individual nutrition plans</h3>
      </div>

      <div class="card-white">
        <img  src="https://images.unsplash.com/photo-1519311965067-36d3e5f33d39?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cHQlMjBmaXRuZXNzfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60"
              alt="oneonone"
              width="200px"
              height="150px"
              >
        <h3>One on one Personal training seshions</h3>
      </div>
    </div>
  </div>

  <!-- Footer section -->

  <div class="footer">
    <a href="https://www.instagram.com/ptpayne1/?igshid=MWZjMTM2ODFkZg%3D%3D">Follow me on Instagram</a>
  </div>
